* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.container {
  background: #ffffff;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}

.addContainer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.addContainer form {
  width: 90%;
  max-width: 500px;
  background: #ffffff;
  padding: 20px;
  padding-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.addContainer .close-btn {
  font-size: 24px;
  cursor: pointer;
  color: #1f2937;
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s;
}

.tableContainer {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #eff6ff;
}
