* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.container {
  background: #ffffff;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  margin: 5px;
}

.addContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

.addContainer form {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 450px;
  margin: 20px;
  animation: slide-in 0.5s ease-out;
  position: relative;
}

@keyframes slide-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.addContainer label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.addContainer input,
.addContainer select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.addContainer .btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addContainer .btn:hover {
  background-color: #0056b3;
}

.addContainer .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: #666;
  font-size: 24px;
}

.tableContainer {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #eff6ff;
}

.btn-edit,
.btn-delete {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit {
  background-color: #fbbf24;
}

.btn-delete {
  background-color: #ef4444;
  color: #fff;
}
.btn:hover {
  background-color: #4f46e5;
  color: #ffffff;
}

.btn-edit:hover {
  background-color: #fcd34d;
}

.btn-delete:hover {
  background-color: #f87171;
}

.error-message {
  color: #dc2626;
  background-color: #fee2e2;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}
.form-error-message {
  color: #dc2626;
  margin-bottom: 10px;
}

.btn-add {
  background-color: #10b981;
  color: #ffffff;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-add:hover,
.btn-add:focus {
  background-color: #34d399;
  outline: none;
  box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.5);
}

@media (max-width: 655px) {
  .container {
    width: 100vw;
  }

  .tableContainer {
    overflow-x: auto;
  }
}
